<div class="bookpicture">
	<%= image_tag '1.jpg', size: '200x282' %>
</div>
<div class="bookdetail">
	<ul>
		<li>
			<h1>Chicago</h1>
		</li>
		<li>
			<b>Author : </b> Eddy Chou
		</li>
		<li>
			<b>Description : </b> This guide focuses on the interaction between Controller and View in the Model-View-Controller triangle. As you know, the Controller is responsible for orchestrating the whole process of handling a request in Rails, though it normally hands off any heavy code to the Model. But then, when it’s time to send a response back to the user, the Controller hands things off to the View. It’s that handoff that is the subject of this guide.
		</li>
		<li>
			<b>Price : </b> 130 Baht
		</li>
		<li>
			<b>Status : </b> Single
		</li>
	</ul>
</div>

<div class="clear"></div>

<div class="borrow_status">
	<table>
		<tr>
			<th>Name</th>
			<th>Borrow</th>
			<th>Return</th>
		</tr>
		<tr>
			<td>Eddy</td>
			<td>10/12/2012</td>
			<td>21/12/2012</td>
		</tr>
	</table>
</div>